.drop-down{
  min-width: 100px;
  margin: 20px;
  outline: none;
  padding: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  background: white;
  border-radius: 4px;
  box-shadow: 1px 1px 10px white;
}